<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <title>Language Show</title>
</head>
<body>
    <%- include ('../partials/header.ejs'); -%>

   <h1> <%= language.language %> </h1>

   <% language.questions.forEach((question) => { %>
     <a href="/questions/<%=question._id%>">
      <h3> <%= question.question %></h3>
      </a>
  <% }) %>



   <button class="button"><a href="/languages/<%=`${language._id}`%>/edit">Edit</a></button>

   
   <div id="bug">
    <div id="leftAntenna"></div>
    <div id="rightAntenna"></div>
    <div id="bugHead"></div>
    <div id="bugBody"></div>
    <div id="bugLeftArm"></div>
    <div id="bugRightArm"></div>
    <div id="bugMiddleLeft"></div>
    <div id="bugMiddleRight"></div>
    <div id="bugLeftLeg"></div>
    <div id="bugRightLeg"></div>
    <div id="leftWing"></div>
    <div id="rightWing"></div>
    </div>

</body>
</html>