<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
    <title>Document</title>
</head>
<body>
    <%- include ('../partials/header.ejs'); -%>


<h1>Edit Your Question</h1>



<main>
<form action="/questions/<%= question._id %>?_method=PUT" method="POST">

    <div class="language"><%- include ('../partials/languageList.ejs'); -%></div>

    <div>
      <label for="question">Question</label>
      <textarea id="body" name="question"><%= question.question %></textarea>
    </div>
    <button type="submit">Update Question</button>
    <%- include ('../partials/deleteButton.ejs', {url: `/questions/${question.id}`}); -%>
  </form>
</main>
</body>
</html>