<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/style.css"/>
    <title>Questions Index</title>
</head>
<body>
    <%- include ('../partials/header.ejs'); -%>

    <main class="pagetext">
        <div class="questionsTop">
            <h1 id="questionIntro">Questions</h1>
            <h4 id="howMany">Total questions asked: <%= questions.length %></h4>
        </div>
        

        <h1 class="langName"><a href="languages/5f0f99029ef3333938e0b81a"> HTML </a></h1>
       
            
            <% for(let i = 0; i < questions.length; i++) { %>
            
                <% if(questions[i].languageId === "HTML") { %>
            <div class="questSpace">
                <a href="/questions/<%=`${questions[i]._id}`%>"> 
                  <%= questions[i].question; %> 
                </a> 
            
                <% }else{  %>
                      
                  <% }}; %>
                <!-- COULD MAKE IT SO LANGUAGES ARE PART OF THE QUESTION MODEL -->
            </div>
      
        <h1 class="langName"><a href="languages/5f0fb94ef114c33c4f02e958"> CSS </a></h1>
      
        <% for(let i = 0; i < questions.length; i++) { %>
            
                <% if(questions[i].languageId === "CSS") { %>
        <div class="questSpace">
                <a href="/questions/<%=`${questions[i]._id}`%>"> 
                   <%= questions[i].question; %> 
                </a> 
                <% }else{  %>
                      
                  <% }}; %>
                <!-- COULD MAKE IT SO LANGUAGES ARE PART OF THE QUESTION MODEL -->
         </div>
            <h1 class="langName"> <a href="languages/5f0fb96465954d3cc6ae0a36"> Javascript </a></h1>
  
            <% for(let i = 0; i < questions.length; i++) { %>
                
                    <% if(questions[i].languageId === "Javascript") { %>
         <div class="questSpace">               
                    <a href="/questions/<%=`${questions[i]._id}`%>"> 
                        <%= questions[i].question; %> 
                    </a> 
                    <% }else {  %>
                          
                      <% }}; %>
                    <!-- COULD MAKE IT SO LANGUAGES ARE PART OF THE QUESTION MODEL -->
         </div>

            <h1 class="langName"><a href="languages/5f0fb96dc485ba3cdafbf18a"> MongoDB </a></h1>
         
            <% for(let i = 0; i < questions.length; i++) { %>
                
                    <% if(questions[i].languageId === "MongoDB") { %>
        <div class="questSpace">                
                    <a href="/questions/<%=`${questions[i]._id}`%>"> 
                       <%= questions[i].question; %> 
                    </a> 
                    <% }else{  %>
                          
                      <% }}; %>
                    <!-- COULD MAKE IT SO LANGUAGES ARE PART OF THE QUESTION MODEL -->
        </div>

            <h1 class="langName"> <a href="languages/5f0fba2420662b3cfdbf7eab"> Python </a></h1>
        
            <% for(let i = 0; i < questions.length; i++) { %>
               
                    <% if(questions[i].languageId === "Python") { %>
         <div class="questSpace">                
                    <a href="/questions/<%=`${questions[i]._id}`%>"> 
                        <%= questions[i].question; %> 
                    </a> 
                    <% }else{  %>
                       
                      <% }}; %>
                    <!-- COULD MAKE IT SO LANGUAGES ARE PART OF THE QUESTION MODEL -->
        </div>

            <h1 class="langName"><a href="languages/5f0fba398e350a3d2177d8ed"> Express </a></h1>
        
            <% for(let i = 0; i < questions.length; i++) { %>
                
                    <% if(questions[i].languageId === "Express") { %>
        <div class="questSpace">               
                    <a href="/questions/<%=`${questions[i]._id}`%>"> 
                       <%= questions[i].question; %> 
                    </a> 
                    <% }else{  %>
                         
                      <% }}; %>
        </div>

                <h1 class="langName"><a href="languages/5f0fd92b3366c0441a306cd3"> GIT </a></h1>
      
            <% for(let i = 0; i < questions.length; i++) { %>
               
                    <% if(questions[i].languageId === "Git") { %>
         <div class="questSpace">                
                    <a href="/questions/<%=`${questions[i]._id}`%>"> 
                       <%= questions[i].question; %> 
                    </a> 
                    <% }else{  %>
                        
                      <% }}; %>
                    <!-- COULD MAKE IT SO LANGUAGES ARE PART OF THE QUESTION MODEL -->
        </div>
                <br>
                <br>
                <br>

                <div id="bug">
                    <div id="leftAntenna"></div>
                    <div id="rightAntenna"></div>
                    <div id="bugHead"></div>
                    <div id="bugBody"></div>
                    <div id="bugLeftArm"></div>
                    <div id="bugRightArm"></div>
                    <div id="bugMiddleLeft"></div>
                    <div id="bugMiddleRight"></div>
                    <div id="bugLeftLeg"></div>
                    <div id="bugRightLeg"></div>
                    <div id="leftWing"></div>
                    <div id="rightWing"></div>
                    </div>
                <br>
                <br>
                <br>
    </main>
</body>
</html>