<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../../public/styles/main.css"> -->
    <!-- <script src="../../public/js/app.js"></script> -->
    <title>Document</title>
</head>
<body>
    <%- include ('../partials/header.ejs'); -%>

    <main>
        <h1>Questions!</h1>
        <h1> HTML</h1>
      
        <%  questions.forEach(question => { %>
            <div>
                
                  <% if(question.languageId === "HTML") { %>
                <a href="/questions/<%=` ${question.id} `%>"> 
                    <%= question.question %>
                </a> 
                <% } else { %>
                   <%= console.log('error'); %>
               <% } %>
                <% }); %>
            </div>
      
        <h1>CSS</h1>
      
              <%  questions.forEach(question => { %>
            <div>
                  <% if(question.languageId === "CSS") { %>
                <a href="/questions/<%=` ${question.id} `%>">
                    <%= question.question %>
                </a>
                <% } %>
             <%  }); %>
            </div>

            <h1>Javascript</h1>
      
              <%  questions.forEach(question => { %>
            <div>
                  <% if(question.languageId === "Javascript") { %>
                <a href="/questions/<%=` ${question.id} `%>">
                    <%= question.question %>
                </a>
                <% } %>
             <%  }); %>
            </div>

            <h1>MongoDB</h1>
      
              <%  questions.forEach(question => { %>
            <div>
                  <% if(question.languageId === "MongoDB") { %>
                <a href="/questions/<%=` ${question.id} `%>">
                    <%= question.question %>
                </a>
                <% } %>
             <%  }); %>
            </div>

            <h1>Python</h1>
      
              <%  questions.forEach(question => { %>
            <div>
                  <% if(question.languageId === "Python") { %>
                <a href="/questions/<%=` ${question.id} `%>">
                    <%= question.question %>
                </a>
                <% } %>
             <%  }); %>
            </div>

            <h1>Express</h1>
      
              <%  questions.forEach(question => { %>
            <div>
                  <% if(question.languageId === "Express" && questions < 5) { %>
                <a href="/questions/<%=` ${question.id} `%>">
                    <%= question.question %>
                </a>
                <% } %>
             <%  }); %>
            </div>
    
    </main>
</body>
</html>