<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
    <title>Document</title>
=======
    <!-- <link rel="stylesheet" href="../../public/styles/main.css"> -->
    <!-- <script src="../../public/js/app.js"></script> -->
    <title>Questions Index</title>
>>>>>>> 4f82601d2ed34590e20eb499c6a716fd0a13462e
</head>
<body>
    <%- include ('../partials/header.ejs'); -%>

    <main>
        <h1>Questions!</h1>
        <h4>Total questions asked: <%= questions.length %></h4>
        
      
        <h1> HTML</h1>
      
        <%  questions.forEach(question => { %>
            <div>
                
                  <% if(question.languageId === "HTML") { %>
                <a href="/questions/<%=`${question._id}`%>"> 
                    <%= question.question; %>
                    
                   
                    
                </a> 
                <% } else if(question.languageId === "HTML" && questions.length > 5) {  %>
                      <a href="questions/html">View more</a> 
                  <% }}); %>
                
            </div>
      
        <h1>CSS</h1>
      
              <%  questions.forEach(question => { %>
            <div>
                  <% if(question.languageId === "CSS") { %>
                <a href="/questions/<%=`${question.id}`%>">
                    <%= question.question %>
                </a>
                <% } %>
             <%  }); %>
            </div>

            <h1>Javascript</h1>
      
              <%  questions.forEach(question => { %>
            <div>
                  <% if(question.languageId === "Javascript") { %>
                <a href="/questions/<%=`${question.id}`%>">
                    <%= question.question %>
                </a>
                <% } %>
             <%  }); %>
            </div>

            <h1>MongoDB</h1>
      
              <%  questions.forEach(question => { %>
            <div>
                  <% if(question.languageId === "MongoDB") { %>
                <a href="/questions/<%=`${question.id}`%>">
                    <%= question.question %>
                </a>
                <% } %>
             <%  }); %>
            </div>

            <h1>Python</h1>
      
              <%  questions.forEach(question => { %>
            <div>
                  <% if(question.languageId === "Python") { %>
                <a href="/questions/<%=`${question.id}`%>">
                    <%= question.question %>
                </a>
                <% } %>
             <%  }); %>
            </div>

            <h1>Express</h1>
      
              <%  questions.forEach(question => { %>
            <div>
                  <% if(question.languageId === "Express") { %>
                <a href="/questions/<%=`${question.id}`%>">
                    <%= question.question %>
                </a>
                <% } %>
             <%  }); %>
            </div>
    
    </main>
</body>
</html>