<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
    <title>Document</title>
</head>
<body>
    <%- include ('../partials/header.ejs'); -%>

    <main class="pagetext">
        <h1><%= question.languageId %> Question</h1>

        <a href="/questions/<%=`${question._id}`%>"> 
            <%= question.question; %>
            
        </a><br>
        <button><a href="/questions/<%=`${question._id}`%>/edit">Edit</a></button>
        <div>
          <h3>  solutions:</h3>
        </div>
    </main>
</body>
</html>