<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <title>Questions Show Page</title>
</head>
<body>
    <%- include ('../partials/header.ejs'); -%>

    <main class="pagetext">
        <h1><%= question.languageId %> Question</h1>

        <a href="/questions/<%=`${question._id}`%>"> 
           <h2 style="text-decoration: none"> <%= question.question; %> </h2>
            
        </a><br>
        <button><a href="/questions/<%=`${question._id}`%>/edit">Edit</a></button>
<div>
    <label for="solution">Think you know the answer?</label>
    <form action="/questions/<%=question._id%>/solutions" method="POST">
    <textarea id="body" name="solution" placeholder="Enter Answer"></textarea>
        <button type="submit">Submit</button>
    </form>
</div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- <h4 value="savedSolutions">Saved Solutions</h4> -->
    
    <%= question.solution %>
    <% question.solutions.forEach((solution) => { %>
        <a href="/questions/<%=solution._id%>/edit">
          <h4><%= solution.solution %></h4>
        </a>
      <% }); %>
  
    
    
    
    </main>
</body>
</html>